@use "../../../styles.scss" as s;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  h1 {
    text-align: center;
    padding: s.$padding;
  }

  p {
    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50%;

  .form {
    width: 70%;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid s.$border-color;
    padding: s.$padding;
    row-gap: 0.5rem;

    .fields-container {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      width: 100%;
    }

    .form-field {
      flex-grow: 1;
    }

    .buttom-container {
      width: 100%;

      button {
      }
    }
  }
}

.signals-container {
  width: fit-content;
  min-width: 70%;
  min-height: 50vh;
  margin: 3rem 15%;
}
