<main>
  <h1
    class="primary-font"
    style="font-size: clamp(1.6em, 2.2vw, 2.5em); text-transform: capitalize"
  >
    Forex Signal Checker app
  </h1>
  <p>
    Set your API KEY
    <a href="/readme">here</a>
  </p>
  <a></a>
  <div class="top-container">
    <form class="form" [formGroup]="form" (submit)="addSignal()">
      <div class="fields-container">
        <mat-form-field class="form-field">
          <mat-label>Pair</mat-label>
          <input matInput formControlName="pair" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Entry price</mat-label>
          <input matInput type="number" formControlName="entryPrice" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>SL</mat-label>
          <input matInput type="number" formControlName="stopLoss" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>TP</mat-label>
          <input matInput type="number" formControlName="takeProfit" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Interval</mat-label>
          <mat-select formControlName="interval">
            @for (interval of intervals; track interval) {
            <mat-option [value]="interval">{{ interval }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Trade Type</mat-label>
          <mat-select formControlName="tradeType">
            <mat-option value="SELL">SELL</mat-option>
            <mat-option value="BUY">BUY</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Entry date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="entryDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="buttom-container">
        <button type="submit" mat-raised-button color="accent">
          Add Signal
        </button>
      </div>
    </form>
  </div>

  <div class="signals-container">
    @for (signal of signalsStorage(); track signal.pair) {
    <app-signal [forexSignal]="signal" />
    }
  </div>
</main>
